.App {
  text-align: center;
  margin:30px auto;
  max-width: 600px;
  font-family:initial;

}

.App a{
  text-decoration: none;
}


.Search{
  padding:15px;
 
}


.Search ul{
  padding: 0;
  margin:0 ;
  list-style-type: none;
  margin-top: 19px;
}

.Search h1{
  text-align: left;
  margin-top: 18px;
  margin-left: 0;
  padding-left: 0;
  color: #787D81
}
.Search canvas{
margin-top: 24px;
}

.Search .temperature{
  font-size: 54px;
  line-height: 100px;
  margin-left: 5px;
}

.Search .units{
  position: relative;
  top:-30px;
  margin-left:-11px;
  font-size: 12px;  
}

a{
  text-decoration: none;
}





